.header {
  max-width: 880px;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 40px;
  margin-top: 45px;
}
.header__text {
  max-width: 173px;
  margin-bottom: 41px;
}
.header__line {
  max-width: 880px;
}

@media screen and (max-width: 800px) {
  .header {
    max-width: 750px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-top: 45px;
  }
  .header__line {
    max-width: 750px;
  }
}
@media screen and (max-width: 400px) {
  .header {
    max-width: 300px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 38.25px;
    margin-top: 28px;
  }
  .header__text {
    max-width: 126px;
    margin-bottom: 32px;
  }
  .header__line {
    max-width: 300px;
  }
}
