.page {
  max-width: 1280px;
  background-color: #000;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .page {
    max-width: 750px;
  }
}
@media screen and (max-width: 564px) {
  .page {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
