.popup {
  display: none;
  max-width: 1280px;
  z-index: 1;
}
.card__popup {
  display: none;
  max-width: 1280px;
  z-index: 1;
}

.popup_change_display {
  display: grid;
  grid-template-rows: 40px 330px;
  align-self: center;
  max-width: 100%;
  position: fixed;
  top: 195px;
}
.card__popup_change_display {
  display: grid;
  grid-template-rows: 40px 330px;
  align-self: center;
  max-width: 100%;
  position: fixed;
  top: 195px;
}
.popup__close-button {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 40px;
  opacity: 100%;
  border: none;
  position: relative;
  left: 40px;
}
.card__popup__close-button {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 40px;
  opacity: 100%;
  border: none;
  position: relative;
  left: 40px;
}
.popup__close-button:hover {
  opacity: 60%;
  cursor: pointer;
}
.card__popup__close-button:hover {
  opacity: 60%;
  cursor: pointer;
}
.popup__form {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 430px;
  border-radius: 10px;
}
.popup__title {
  margin: 34px 64px 0px 36px;
  font-family: inter, sans-serif, "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 23px;
}

.popup__name-input {
  margin: 50px 36px 0px 36px;
  font-family: inter, sans-serif, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 13.26px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}
.popup__job-input {
  margin: 29.74px 36px 0px 36px;
  font-family: inter, sans-serif, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 13.26px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}
.popup__save-button {
  margin: 48px 36px 36.51px 36px;
  font-family: inter, sans-serif, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: white;
  background-color: black;
  border: 0;
  padding: 13.66px 125px 18.49px 124px;
}
.popup__save-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.popup__title-input {
  margin: 54px 36px 0px 36px;
  font-family: inter, sans-serif, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 13.26px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}
.popup__link-input {
  margin: 29.74px 36px 0px 36px;
  font-family: inter, sans-serif, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 13.26px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}
.popup__create-button {
  margin: 48px 36px 36.51px 36px;
  font-family: inter, sans-serif, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: white;
  background-color: black;
  border: 0;
  padding: 13.66px 125px 18.49px 124px;
}
.popup__create-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .popup {
    max-width: 750px;
    z-index: 1;
  }
  .popup_change_display {
    max-width: 100%;
    position: fixed;
    top: 180px;
  }
  .popup__close-button {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 40px;
    opacity: 100%;
    border: none;
    position: relative;
    left: 40px;
  }
  .card__popup__close-button {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 40px;
    opacity: 100%;
    border: none;
    position: relative;
    left: 40px;
  }

  .popup__form {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 430px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 564px) {
  .popup {
    max-width: 282px;
    z-index: 1;
  }
  .popup_change_display {
    max-width: 100%;
    position: fixed;
    top: 123px;
    justify-content: end;
  }
  .popup__close-button {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 40px;
    opacity: 100%;
    border: none;
    position: relative;
    left: 0;
  }
  .card__popup__close-button {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 40px;
    opacity: 100%;
    border: none;
    position: relative;
    left: 0;
  }
  .popup__form {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 282px;
    border-radius: 10px;
  }
  .popup__name-input {
    margin: 76px 22px 0px 22px;
    padding-bottom: 9px;
  }
  .popup__job-input {
    margin: 30px 22px 0px 22px;
    padding-bottom: 9px;
  }
  .popup__save-button {
    margin: 46px 22px 25px 22px;
    padding: 14px 96px 14px 96px;
  }

  .popup__title-input {
    margin: 76px 22px 0px 22px;
    padding-bottom: 9px;
  }
  .popup__link-input {
    margin: 30px 22px 0px 22px;
    padding-bottom: 9px;
  }
  .popup__create-button {
    margin: 46px 22px 25px 22px;
    padding: 14px 96px 14px 96px;
  }
}
